html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*************************
EDIT BELOW HERE
**************************/
/* a03e09 9884b7 f17456 */
/* 	background-color:#668B9A; */
body 
{     
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	/*background-color:#ad3e24;*/
	line-height:1.4;
	overflow-y:scroll; 
}

/*    border:2px solid #332F29; */
.container
{  
    background-color:#fff;  
    overflow: auto;
    margin:0 auto 0 auto;
    width: 960px;
    border:2px solid #332F29;
    border-top: none;
}

.banner
{
    width:900px;
    height:300px;
    background:url(../banner.jpg) top left no-repeat;
	
  
}

.random-banner{
   border-bottom: 3px solid #000000;
  
}

.navMenu
{
   position:relative;
    top:0px;
    float:left;
   width:185px;
      
}

.content
{
    float:left;
    width:734px;
    padding:20px;
    font-size:medium;
}

h1
{
    background: #fff;
    color: #006699;
    font-size: 22px;
    margin-bottom: 15px;
}

h2
{
    background: #fff;
    color: #006699;   
    margin-bottom: 10px;
}


h3{
	margin-bottom:10px;
	margin-top:10px;

}

.bottom
{   
    float:left;
    text-align:center;
    background:#d2ddff;
    height:22px;
    border-top:2px solid #332F29;
    width:100%;
}

.importantDate
{
    text-align:right;        
     padding-bottom:10px;
     padding-left:15px;
}

.importantEvent
{
    padding-left:10px;  
}

.chair
{    
    margin-top:20px;
    color:#006699;
}

.chairul
{
    margin-left:60px;
    padding-left:20px;
    list-style-type: square;
}











